<div class="container">
    <h1 class="mt-3">Drug List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary" [routerLink]="['/pharmacies/add']">Add Pharmacy</a>
    </div> 
    <ng-container *ngIf="pharmacies$ | async as pharmacies">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pharmacy of pharmacies">
                    <td>{{pharmacy.id}}</td>
                    <td>{{pharmacy.name}}</td>
                    <!-- <td>
                        <a class="btn btn-light" [routerLink]="['/admin/categories/edit', category.id]">Edit</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </ng-container>
    
</div>