<div *ngIf="user$ | async as user; else notLoggedIn" class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
      <img *ngIf="user$ | async as user" 
        [src]="'assets/img/' + user.role.toLowerCase() + '.jpg'" 
        class="card-img-top" 
        alt="{{ user.role }} image">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.role}}</p>
          <div *ngIf="user.role === 'PHARMACY STAFF' && user.pharmacy">
            <p class="card-text">{{user.pharmacy.name}}</p>
          </div>
          <div *ngIf="user.role === 'HOSPITAL STAFF' && user.hospital">
            <p class="card-text">{{user.hospital.name}}</p>
          </div>
        </div>
        <!-- <div class="card-body">
          <a href="#" class="card-link">Change credentials</a>
        </div> -->
        <div class="card-body d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="logout()">Logout</button>
        </div>
      </div>
  </div>
  
  <ng-template #notLoggedIn>
    <p>User info not available. Please log in.</p>
  </ng-template>