<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="container" style="max-width: 300px;">
    <h1 class="text-center mb-4">Log in</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div>
        <div class="mb-3">
          <input type="text" class="form-control" id="loginUsername" name="loginUsername" placeholder="Username"
            required [(ngModel)]="model.username" />
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Password"
            required [(ngModel)]="model.password" />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>