<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="container" style="max-width: 300px;">
    <h1 class="text-center mb-4">Add hospital</h1>
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div>
        <div class="mb-3">
          <input type="text" class="form-control" id="hospitalName" name="hospitalName" placeholder="Name" required
            [(ngModel)]="model.name" />
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>