<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container" style="max-width: 300px;">
      <h1 class="text-center mb-4">Add drug</h1>
      <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="userName"
              name="userName"
              placeholder="Name"
              required
              [(ngModel)]="model.name"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="userUsername"
              name="userUsername"
              placeholder="Username"
              required
              [(ngModel)]="model.username"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="userPassword"
              name="userPassword"
              placeholder="Password"
              required
              [(ngModel)]="model.password"
            />
          </div>
            <div class="mb-3">
            <select
              class="form-control"
              id="userRole"
              name="userRole"
              required
              [(ngModel)]="model.role"
            >
              <option value="" disabled selected>Select Role</option>
              <option value="ADMIN">ADMIN</option>
              <option value="HOSPITAL STAFF">HOSPITAL STAFF</option>
              <option value="PHARMACY STAFF">PHARMACY STAFF</option>
            </select>
            </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  