<div class="container">
    <br>
    <div class="d-flex justify-content-center gap-3 mt-3">
        <div class="card p-3" style="max-height: 500px; width: 300px">
            <div *ngIf="selectedOrder$ | async as selectedOrder">
                <h3 style="margin: 3px" class="mb-3">Order #{{selectedOrder.id}}</h3>
                <p style="margin: 3px" class="fst-italic">Date: {{selectedOrder.dateTime | date:'mediumDate'}}</p>
                <p style="margin: 3px" class="fst-italic">Time: {{selectedOrder.dateTime | date:'shortTime'}}</p>
                <div class="overflow-auto mt-3">
                    <div *ngFor="let orderedDrug of selectedOrder.orderedDrugs">
                        <p class="bg-opacity-10 bg-dark p-2 rounded">
                            {{orderedDrug.drug.name}} x {{orderedDrug.quantity}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card p-3 overflow-auto" style="max-height: 500px; width: 500px">
            <ng-container *ngIf="orders$ | async as orders">
                <h3 *ngIf="loggedInUser!.role==='PHARMACY STAFF'" style="margin: 3px;">Resolved orders: {{orders.length}}</h3>
                <h3 *ngIf="loggedInUser!.role==='HOSPITAL STAFF'" style="margin: 3px;">Placed orders: {{orders.length}}</h3>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <td>
                                <div class="card p-3 mt-3">
                                    <h1>Order #{{getMillisecondsFromDate(order.dateTime.toString())}}{{order.id}}</h1>
                                    <p>Ordered By: {{order.placedBy.name}}</p>
                                    <p *ngIf="order.placedBy.hospital">Hospital: {{order.placedBy.hospital.name}}</p>
                                    <button class="btn btn-primary" (click)="selectOrder(order)">View Order</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
    </div>
</div>