<div class="d-flex justify-content-center align-items-center">
    <div class="container" style="max-width: 300px;">
      <h1 class="text-center mb-4">Add drug</h1>
      <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="drugName"
              name="drugName"
              placeholder="Name"
              required
              [(ngModel)]="model.name"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="drugPrice"
              name="drugPrice"
              placeholder="Price"
              required
              [(ngModel)]="model.price"
            />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  