<div class="container">
    <h1 class="mt-3">Drug List</h1>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-primary" [routerLink]="['/drugs/add']">Add Drug</a>
    </div>
    <ng-container *ngIf="drugs$ | async as drugs">
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let drug of drugs">
                    <td>{{drug.id}}</td>
                    <td>{{drug.name}}</td>
                    <td>{{drug.price}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteDrug(drug.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>

</div>